body{
    background-color: grey;
    margin: 0;
}

.main-contaner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    max-width: 960px;
    background-color: white;
}
.text{
    margin: 15px;
}

h1{
    color: blue;
}